@media (max-width: 760px) {
    .perfil {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .perfil img {
        width: 200px;
        margin: 0 auto;
    }

    .perfil article {
        text-align: center;
    }

    .perfil nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    #sobre-mi i {
        padding-top: 50px;
        display: block;
    }
    #experiencia i {
        padding-top: 50px;
        display: block; 
    }
    .perfil img {
    background-image: url(../img/imagen_perfil.jpeg);
    }

}
@media (max-width: 590px) {
    .info {
        flex-direction: column; 
        gap: 20px;
    }

    .info .foto-sobre-mi {
        display: none; 
    }

    .info p {
        flex: 1; 
        position: relative;
        right: 20px;
    }
    
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .indice {
        display: none;
    }
    /*ESPACIO DE RESUMEN*/
    .seccion {
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
    }
    .subseccion.medio.habilidades {
        padding-top: 30px;
    }
    .subseccion.que-puedo-hacer {
        padding-top: 30px;
    }
    .espacio {
        margin-top: 0%;
    }
    .espacio.edu {
        margin-top: 16%;
    }
    .subseccion ul {
        margin: 2%;
    }
    .casa2 {
        margin-top: 60%;
    }
    .imagenes-proyecto {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 520px) {
    .indice {
        flex-direction: column; 
        align-items: center; 
    }

    .indice a {
        margin: 5px 0; 
    }
    #proyectos .boton {
        position: relative;
        left: 0;
        transform: none;
    }

    /*ESPACIO EXPERIENCIAS*/
    #experiencia img {
        display: none;
    }
}
@media (max-width:400px){
    .casa2 {
        margin-top: 80%;
    }
}